doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(class="title")= title
    div(class="catalog")
      p The rental shop has the following counts:
      ul
        li Vehicle Types : #{vehicle_count}
        li Available Vehicles : #{vehicle_available_count}
        li Rented Vehicles : #{vehicle_rented_count}
        li Categories : #{category_count}
